body {
    margin: 0;
    background:white;
}

/* Navigation Bar */
.nav-bar {
    padding: 3px;
    /* Sticky */
    position: sticky;
    top: 0;
    background: blue;
}

.element {
    width: 200px;
    text-align: left;
    color: white;
    display: inline-block;
    margin: 0;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
}

.nav-bar > .element:active { 
    text-decoration: underline;
    color: blue;
}	