body {
    margin: 0;
    background:white;
}

/* Navigation Bar */
.nav-bar {
    /* Sticky */
    position: sticky;
    top: 0;
    background: black;
}

.element {
    padding-top: 3px;
    padding-top: 3px;
    padding-right: 20px;
    text-align: left;
    color: white;
    display: inline-block;
    margin: 0;
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
}
.nav-bar > .element:hover { 
    background: white;
    color: black;
}	

.nav-bar > .element:active { 
    color: blue;
    decoration: underline;
}	